.accounts {
  height: 260px;
  border-radius: 5px;
  overflow: auto;
  border: 1px solid var(--bg-border-accounts);
  background-color: var(--bg-accounts);
  position: relative;
}

.accountsEmpty {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: max-content;
}
