Необходимый функционал спамера:
- Рассылка в:
	- лс
	- беседы
	- беседы с автовыходом
	- стены юзеров
	- стены групп
	- коментарии
	- обсуждения

- Разные приложения авторизации: Android, Windows, Windows Phone, iPad, iPhone
- Возможность сохранения аккаунтов в localStorage и удаления из их из него
- Возможность менять последовательность аккаунтов в списке
- Раздомизация текста / вложений рассылки

- Загрузка аккаунтов из файла на компьютере
- Загрузка адресатов спама из файла на компьютере

- Сохранение данных форм в localStorage и кнопка очистки этих данных
- Начать спам / пауза
- Вывод капчи и антикапча
- Оповещать о забаненном аккаунте
- Транслитератор, смайлизатор текста.
- Логирование рассылки
- User agent подмена

- Остановка по таймеру (через n минут)
- Остановка по окончанию списка (один проход)
- Кнопка перемешки адресатов спама

- Инструкции
- Поддержка через yandex pay и контакты

// https://api.vk.com/method/METHOD_NAME?PARAMETERS&access_token=ACCESS_TOKEN&v=V
// Вложения должны быть публичными
