.log {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  padding: 0 5px;
  border-bottom: 1px solid #4b4b4b;
}

.title {
  display: flex;
  align-items: center;
}

.title__text {
  margin-left: 5px;
}

.right {
  display: flex;
  align-items: center;
}

.time,
.title__text {
  color: #171717;
}

.time {
  margin-left: 10px;
}

.error {
  background-color: var(--error);
}

.success {
  background-color: var(--success);
}

.warning {
  background-color: var(--warning);
}

.info {
  background-color: var(--info);
}

.pending {
  background-color: var(--pending);
}
