.instructions {
  padding: 20px;
}

.title {
  margin-top: 30px;
  padding-bottom: 10px;
  font-size: 36px;
  background: var(--color-title);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: relative;
  text-align: center;
  font-weight: bold;
}

.title::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 100%;
  height: 3px;
  background: #ff8a00 linear-gradient(to right, #30a5da, #28ff1f);
}

.subtitle {
  font-size: 30px;
  background: var(--color-title);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
  margin-bottom: 10px;
}

.instructions .subtitle {
  margin-top: 20px;
}

.list__item:first-child .subtitle {
  margin-top: 0;
}

.list {
  list-style: none;
}

.list p {
  margin-bottom: 15px;
}

.addressesList p {
  margin: 5px 0;
}

.addressesList {
  list-style-position: inside;
  list-style-type: decimal;
}

.addressesList::marker {
  display: inline-block;
}

.list__item > *:last-child {
  margin-left: 20px;
}

.addressesList__title {
  font-size: 20px;
  display: inline;
}

.addressesList__item {
  margin-top: 5px;
}

.screenshot {
  display: block;
}

.a {
  color: #ffd051;
}

.a:hover {
  text-decoration: underline;
}
