.buttons {
  border-left: 1px solid #676566;
  margin-left: 25px;
  width: 295px;
  padding-left: 25px;
}

.col > *:not(:first-child) {
  margin-top: 15px;
}

.col:not(:first-child) {
  margin-top: 30px;
}
