.header {
  background-color: var(--bg-header);
  box-shadow: 0 0 19px 2px rgba(0, 0, 0, 0.91);
  position: relative;
  z-index: 1;
  min-width: 1400px;
}

.navalny {
  text-align: center;
  display: grid;
  grid-row-gap: 5px;
  align-items: center;
  justify-content: center;
  background: rgb(255, 51, 0);
  padding: 10px;
  position: relative;
}

.navalny a {
  color: rgb(0, 0, 51);
  text-decoration: underline;
}

.navalny button {
  position: absolute;
  right: 10px;
  top: 10px;
  background: white;
  padding: 5px 8px;
  border: none;
  cursor: pointer;
}

.inner {
  width: 1400px;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
}

.logo__image {
  height: 50px;
  display: block;
}

.logo__image:hover {
  transform: scale(1.02);
}

.logo__text {
  margin-left: 10px;
  font-family: "Roboto Condensed", sans-serif;
  text-transform: uppercase;
}

.logo__title {
  font-size: 20px;
  letter-spacing: 0.60px;
}

.logo__title:hover {
  color: var(--color-active);
}

.logo__subtitle {
  color: var(--color-secondary);
  font-size: 14px;
  margin-top: 2px;
  letter-spacing: -0.60px;
}
