* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #14171a;
  color: white;
}

a {
  text-decoration: none;
  color: inherit;
}

:root {
  --bg-header: #0c1013;
  --bg-content: #1c1f22;
  --bg-accounts: #1f2427;
  --bg-border-accounts: #4e4e4e;

  --error: #e57373;
  --success: #81c784;
  --warning: #ffb74d;
  --info: #64b5f6;
  --pending: #a2a2a2;

  --color-secondary: #d9d9d9;
  --color-title: linear-gradient(to right, #ff8a00, #da3f27);
  --color-active: #ff8a00
}

body::-webkit-scrollbar {
  width: 16px;
}

body::-webkit-scrollbar-track,
body::-webkit-scrollbar-corner {
  background-color: #1a1a1d;
}

body::-webkit-scrollbar-thumb {
  background: linear-gradient(#46494d, #2b2c2e);
}
